<!DOCTYPE html>
{% extends "layout.html" %}
{% block title %}Home{% endblock %}

{% block content %}

    <h2>Topics</h2>
    
    <ul class="list-group">
        {% for topic in topics %}
            <a href="/topic/{{topic.id}}" class="list-group-item list-group-item-action">{{ topic.name }}</a>

        {% endfor %}
    </ul>

    {% if session.mod_status %}
        
    <div>
        <form action="/newtopic" method="POST">

            <p>Create a new topic (moderator): </p><input type="text" name="name">
            <br>
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            <input type="submit" value="Create">

            <br>
        </form>
    </div>

    {% endif %}

</div>
{% endblock %}