<!DOCTYPE html>
{% extends "layout.html" %}
{% block title %}Topic{% endblock %}

{% block content %}


    <a href="/">Back to all topics</a>
    <br>


    <ol class></ol>
    {% for msg in messages %}

        {{ msg.username }}:
        {{ msg.content }}
        <a href="/like/{{ msg.id }}">+</a>
        <br>

    {% endfor %}


    {% if session.user_id %}
    <form action="/send/{{topicid}}" method="POST">

        <p>Type a message: </p><input type="text" name="content">
        <br>
        <input type="submit" value="Send">
        <br>
    </form>
    {% else %}
    <p>Log in to send a message</p>
    {% endif %}

</div>
{% endblock %}