<!DOCTYPE html>
{% extends "layout.html" %}
{% block title %}Topic{% endblock %}

{% block content %}


    <a href="/">Back to all topics</a>
    <h2>{{ topicname.name }}</h2>




    {% for msg in messages %}


            <div class="container-sm py-3 sm-4 border rounded float-left" style="overflow-wrap: break-word;">

                {{ msg.username }}:
                {{ msg.content }}
                {% if session.user_id %}

                    {% if msg.id in likes %}
                        <a href="/dislike/{{ msg.id }}"><i class="bi bi-hand-thumbs-up-fill"></i></a> 
                    {% else %}
                        <a href="/like/{{ msg.id }}"><i class="bi bi-hand-thumbs-up"></i></a> 
                    {% endif %}

                {% endif %}

                {{ like_amounts[msg.id] }}

                <br>

            </div>




    {% endfor %}



    {% if session.user_id %}
    <form action="/send/{{topicid}}" method="POST">

        <p>Type a message: </p><input type="text" name="content">
        <br>
        <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        <input type="submit" value="Send">

        <br>
    </form>
    {% else %}
    <p>Log in to send a message</p>
    {% endif %}

</div>
{% endblock %}