<!DOCTYPE html>
{% extends "layout.html" %}
{% block title %}{{ topicname.name }}{% endblock %}

{% block content %}

    <a href="/">Back to all topics</a>
    <h2>{{ topicname.name }}</h2>

    {% if not messages %}
        <h4>No messages</h4>
    {% endif %}

    {% for msg in messages %}

            <div class="container m-1 col-8 border rounded float-left">

                <div class="col-8" style="overflow-wrap: break-word;">

                    <b>{{ msg.username }}: </b>
                    {{ msg.content }}
                </div>

                {% if session.user_id %}

                    {% if msg.id in likes %}
                        <div class="float-right"><a href="/dislike/{{ msg.id }}"><i class="bi bi-hand-thumbs-up-fill"></i></a></div>
                    {% else %}
                        <div class="float-right"><a href="/like/{{ msg.id }}"><i class="bi bi-hand-thumbs-up"></i></a></div>
                    {% endif %}

                {% endif %}

                <div class="float-right">{{ like_amounts[msg.id] }}</div>

                {% if session.mod_status %}
                    <a href="/remove/{{ msg.id }}"></a>
                {% endif %}

                <br>
            </div>

    {% endfor %}

    <div class="container float-right">
        {% if session.user_id %}
        <form action="/send/{{topicid}}" method="POST">

            <p>Type a message: </p><input type="text" name="content">
            <br>
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            <input type="submit" value="Send">

            <br>
        </form>
        {% else %}
            <p>Log in to send a message</p>
        {% endif %}
    </div>

</div>
{% endblock %}